@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(25, 25, 25);
  color: rgb(200,200,200);
}
.center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.indexul{
  display: flex;
  font-size: 18px;
  width: auto;
  margin: 1vw 0;
  padding:0 2vw 0 1vw;
  justify-content:space-between;
  font-family: 'Poppins', sans-serif;
}
.indexli{
  padding: 0 2vh;
  text-decoration: none;
  transition-duration: 0.3s;
  line-height: 45px;
}
.indexli:hover{
  color: white;
}
.logoimg{
  height: 45px;
  width: auto;
}
