
.users{
    width: 400px;
    height: 600px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(176, 176, 176);
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    border-radius: 4px;
    background-color:rgb(32,44,51);;
    overflow: auto;
}

.users::-webkit-scrollbar{
  width: 12px;
  border-radius: 10px;
}

.users::-webkit-scrollbar-track{
  background: #2f2f2f;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background: #9b9b9b;
  border: 1px solid #91cbd4;
  border-radius: 15px;
  height: 20px;
}
.user{
    display: flex;
    height: 50px;
    width: 100%;
    border: 1px  solid rgb(51, 51, 51);
    background-color: rgb(20, 27, 32);;
}
.userlogo{
    display: flex;
    width: 50px;
    justify-content: center;
    margin-left: 10px;
}
.userimg{
    padding: auto;
    margin: auto;
    height: 40px;
    width: auto;
    border-radius: 50px;
}
.username{
    width: 250px;
    padding:auto;
    font-size: 18px;
    line-height: 48px;
    padding-left: 20px;
}
.username,.user,.userimg,.userlogo{
  background-color:  rgb(23, 32, 37);
}