.chatbox{
    height: 480px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(87, 87, 87);
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow: auto;
    border-radius: 3px;
    background-color: rgb(17,27,33);
}

.chatbox::-webkit-scrollbar{
  width: 12px;
  border-radius: 5px;
}

.chatbox::-webkit-scrollbar-track{
  background: rgb(17,27,33);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background: rgb(17,27,33);
  border: 1px solid #91cbd4;
  border-radius: 5px;
  height: 20px;
}

.text1,.text2{
    padding: 10px;
    margin:10px;
    display: flex;
    height: fit-content;
    width: fit-content;
    border-radius: 50px;
    background-color: transparent;
    
}
.text2{
    margin-left:auto;
    justify-content: flex-end;
}
.msg{
    display: flex;
    align-items: center;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding:10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    max-width: 600px;
    line-break: loose;
    line-height: 30px;
    box-shadow: 1px 1px 2px black;
    color: white;
}
.m1{
  background-color: rgb(32,44,51);
}
.m2{
  background-color: rgb(32,44,51);
}